In [1]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
from config import username, pw

## Load in Data

In [2]:
characters = pd.read_csv("data/disney-characters.csv")
voice_actors = pd.read_csv("data/disney-voice-actors.csv")
directors = pd.read_csv("data/disney-director.csv")
revenue = pd.read_csv("data/disney_movies_total_gross.csv")

## Clean Data and Transform

In [3]:
revenue = pd.read_csv("data/disney_movies_total_gross.csv")
revenue['movie_title'] = [movie.replace('\n','') for movie in revenue['movie_title']]
revenue['movie_title'] = [movie.casefold() for movie in revenue['movie_title']]
revenue['mpaa_rating'] = revenue['mpaa_rating'].replace(np.nan, 'Not Rated')
revenue.head()

,movie_title,release_date,genre,mpaa_rating,total_gross,inflation_adjusted_gross
0,snow white and the seven dwarfs,1937-12-21,Musical,G,184925485,5228953251
1,pinocchio,1940-02-09,Adventure,G,84300000,2188229052
2,fantasia,1940-11-13,Musical,G,83320000,2187090808
3,song of the south,1946-11-12,Adventure,G,65000000,1078510579
4,cinderella,1950-02-15,Drama,G,85000000,920608730

In [4]:
characters = pd.read_csv("data/disney-characters.csv")
characters['movie_title'] = [movie.replace('\n','') for movie in characters['movie_title']]
characters['movie_title'] = [movie.casefold() for movie in characters['movie_title']]
characters = characters[['movie_title','hero','villian']]
characters.head()

                       movie_title        hero     villian
0  snow white and the seven dwarfs  Snow White  Evil Queen
1                        pinocchio   Pinocchio   Stromboli
2                         fantasia         NaN   Chernabog
3                            dumbo       Dumbo  Ringmaster
4                            bambi       Bambi      Hunter

In [5]:
voice_actors = pd.read_csv("data/disney-voice-actors.csv")
voice_actors['movie'] = [movie.casefold() for movie in voice_actors['movie']]
voice_actors = voice_actors[['movie','character','voice-actor']]
voice_actors = voice_actors.rename(columns = {'movie':'movie_title','voice-actor':'voice_actor'})
voice_actors.head()

                   movie_title       character      voice_actor
0               chicken little    Abby Mallard      Joan Cusack
1               the aristocats  Abigail Gabble     Monica Evans
2          the return of jafar        Abis Mal  Jason Alexander
3                      aladdin             Abu     Frank Welker
4  the hunchback of notre dame        Achilles             None

In [6]:
directors = pd.read_csv("data/disney-director.csv")
directors['name'] = [movie.casefold() for movie in directors['name']]
directors = directors.rename(columns = {'name':'movie_title'})
directors.head()

                       movie_title        director
0  snow white and the seven dwarfs      David Hand
1                        pinocchio  Ben Sharpsteen
2                         fantasia    full credits
3                            dumbo  Ben Sharpsteen
4                            bambi      David Hand

## Load into Database

In [7]:
rds_connection_string = f"{username}:{pw}@localhost:5432/disney_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [8]:
engine.table_names()

['revenue', 'characters', 'directors', 'voice_actors']

In [9]:
revenue.to_sql(name='revenue', con=engine, if_exists='replace', index=False)

In [10]:
characters.to_sql(name = 'characters',con = engine, if_exists = 'replace',index = False)

In [11]:
directors.to_sql(name = 'directors',con = engine, if_exists = 'replace',index = False)

In [12]:
voice_actors.to_sql(name = 'voice_actors',con = engine, if_exists = 'replace',index = False)